body {
    background: #fafafa;
}

.bg {
    background-image: url('bg_img.png');
    width: 525px;
    height: 200px;
}

.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('dino.png');
    bottom: 5px;
}
